{% extends 'base.html' %}
{% block title %}公路 - Raphah{% endblock %}
{% block stitle %}我的爱好-公路{% endblock %}
{% block custom_css %}
<style>
    .mod-content{
        padding-top: 90px;
    }
    .mod-content section{
        margin-bottom: 18px;
        text-align: center;
    }
    .mod-content img{
        width: 100%;
        max-width: 540px;
    }
    .mod-content p{
        line-height: 32px;
        color: #666;
    }
    .mod-content span{
        margin:0 5px;
    }
</style>
{% endblock %}
{% block content %}
<div class="container">
<div class="main">
    <div class="mod-content">
	<section>
        <div><img src="/static/image/ttl.jpeg" width="600"></div>
        <p><span>南京</span><span>紫金山·头陀岭</span></p>
            <hr>
        <p><span>公路门户网站正在建设中...</span></p>
	</section>
	</div>
</div>
</div>
{% endblock %}