{% extends 'wechat_base.html' %}

{% block title %}
    个人信息展示
{% endblock title %}
{% block main %}
<div class="weui_media_hd"><img src="{{ userinfo.headimgurl }}" style="width:50%;display:block;margin:auto;"></div>

<div class="weui_cell">
    <div class="weui_cell_bd weui_cell_primary">
        <p>昵称</p>
    </div>
    <div class="weui_cell_ft">{{ userinfo.name }}</div>
</div>

<div class="weui_cell">
    <div class="weui_cell_bd weui_cell_primary">
        <p>性别</p>
    </div>
    <div class="weui_cell_ft">
    {% if userinfo.sex == 2 %}
        男
    {% elif userinfo.sex == 1 %}
        女
    {% else %}
        未知
    {% endif %}
    </div>
</div>
<div class="weui_cell">
    <div class="weui_cell_bd weui_cell_primary">
        <p>城市</p>
    </div>
    <div class="weui_cell_ft">{{ userinfo.country }}  {{ userinfo.province }}  {{ userinfo.city }}</div>
</div>

<hr>
<form action="{% url 'wechat_info' %}" method="post">


<div class="weui_cell">
    <div class="weui_cell_bd weui_cell_primary" name="birthday">
        <p>生日</p></div>
  <input type="date" name="birthday" style="border-style:none;text-align:right;" value="{{userinfo.birthday}}"/>
</div>
<div class="weui_cell">
    <div class="weui_cell_bd weui_cell_primary">
        <p>真实姓名</p></div>
  <input type="text" name="realname" style="border-style:none;text-align:right;" value="{{userinfo.realname}}">
</div>
<div class="weui_cell">
    <div class="weui_cell_bd weui_cell_primary">
        <p>手机号</p></div>
  <input type="text" name="mobile" style="border-style:none;text-align:right;" value={{userinfo.mobile}}>
</div>
<div class="weui_cell">
    <div class="weui_cell_bd weui_cell_primary">
        <p>地址</p></div>
  <input type="text" name="address" style="border-style:none;text-align:right;" value={{userinfo.address}}>
</div>
<div class="weui_cell">
    <div class="weui_cell_bd weui_cell_primary">
        <p>行业</p></div>
  <input type="text" name="industry" style="border-style:none;text-align:right;" value={{userinfo.industry}}>
</div>
<div class="weui_cell">
    <div class="weui_cell_bd weui_cell_primary">
        <p>公司</p></div>
  <input type="text" name="company"  style="border-style:none;text-align:right;" value={{userinfo.compang}}>
</div>
<div class="weui_cell">
    <div class="weui_cell_bd weui_cell_primary">
        <p>职位</p></div>
  <input type="text" name="position" style="border-style:none;text-align:right;" value={{userinfo.position}}>
</div>
<div>
<input type='hidden' name='openid' value='{{userinfo.openid}}'>
</div>

<button type="sumbit" class="weui_btn weui_btn_primary">保存</button>
{% csrf_token %}
</form>

{% endblock main %}
